@use '../../styles/helpers/Color.scss';
@use '../../styles/helpers/Select.scss';

.lucid-label {
  @include Select.none;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
  text-align: center;
  
  .lucid-label-text {
    margin-top: 3px;
    font-size: 10px;
    @include Color.fill(color);
  }
}